body {
    background-color: rgb(4, 72, 136);

    display: flex;
    justify-content: center;
}

header {
    width: 820.66px;
    height: 183.76px;

    display: flex;


    margin-top: 65px;
}

.speaker__card {
    width: 900px;
    height: 487px;

    position: relative;

    background-color:   #F4F4F4;

    border-radius: 55px;

    display: flex;
    align-items: center;
    flex-direction: column;
}


.speaker__avatar-wrapper {
  position: relative;

  width: 193px; 
  height: 183.76px;

  display: flex;
  align-items: center;
  justify-content: center;


}

.speaker__avatar-img {
  width: 186.33px; 
  height: 186.33px;

  border-radius: 50%;
  
  object-fit: cover;

  z-index: 100;
}


.speaker__play-indicator {
  position: absolute;
  top: 1px;
  left: 1px;

  width: 62.79px;
  height: 62.79px;

  background-color: #C1492E;

  border: 1.91px solid #fff; 
  padding: 0;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 200;

  cursor: pointer;
}
.speaker__play-indicator:hover {
   background-color: #9c2d14; 

   transition-duration: 0.2s;
}

.speaker__play-indicator:active {
   background-color: #cf3411; 
}

.speaker__triangle {
  margin-left: 4px; 
}


.speaker__info {
    width: 507.21px;
    height: calc(71px + 42px + 20px);

    display: flex;
    flex-direction: column;
    margin-left: 29px;
}

.speaker__name {
    display: flex;
    align-items: center;

    width: 260px;
    max-width: 340px;
    height: 29px;

    margin-top: 25px;
}

.speaker__name-lastName {
    margin: 0px;
    border-bottom: 1px solid #C1492E;

    font-family: 'Roboto';
    font-weight: 600;
    font-size: 25px;
    
    color: #C1492E;

    height: 27px;
}

.speaker__svg-crown {
    margin-left: 10px;
}

.speaker__characters {
    width: 606px;
    max-width: 700px;
    height: 27px;

    display: flex;
    flex-direction: row;

    list-style: none;

    padding: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.speaker__rating {
    display: flex;
    flex: row;

    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 600;
    color: #3B4173;
}

.speaker__stars {
    margin-left: 5px;
}

.speaker__reviews {
    margin-left: 15px;

    
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 600;
    color: #3B4173;
}

.speaker__reviews-svg {
    
}

.speaker__location {
    margin-left: 15px;

    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 600;
    color: #3B4173;
}

.speaker__location-svg {
    
}




.speaker__categories {
    width: 453px;
    max-width: 550px;
    height: 42px;

    display: flex;
    flex-direction: row;

    list-style: none;

    padding: 0px;
    margin: 0px;
}

.base-categories {
    border-radius: 100px;   
    border: 1px solid #C1492E;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 12px;
}

.speaker__wedding {
    width: 112px;
    height: 41px;
}

.speaker__corporate {
    width: 136px;
}

.speaker__party {
    width: 127px;
}

.svg-margin10 {
    margin-left: 10px;
}

.categories-font {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 700;
    color: #C1492E;
}



.star-badge {
  position: absolute;
  top: 0;
  right: 115px; 
  width: 235px;
  padding: 15px 0px 29px; 
  border-radius:0px 0px 20px 20px ;
  
  background: linear-gradient(180deg, #8A301C 0%, #B9452B 45%, #EF6344 100%);
  color: white;
  text-align: center;

  clip-path: polygon(0 0, 100% 0, 100% 72%, 50% 100%, 0 72%);
}

.avatar-stack {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.avatar-stack img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
 
  margin-left: -12px; 
  
  object-fit: cover;
}

.avatar-stack img:first-child {
  margin-left: 0;
}

.badge-text {
  font-size: 13px;
  font-weight: 500;
  font-family: 'Roboto';
  text-transform: uppercase;
  letter-spacing: 0.5px;

  margin: 0;
}


.speaker__card-favourites{
    position: absolute;
    top: 0;
    right: 35px; 
    top: 40px;
    
    color: #C1492E;
    border-radius: 10px;

    cursor: pointer;

    fill: transparent; 
    transition: all 0.3s ease; 
}

.speaker__card-favourites--active {
    fill: #C1492E; 
}



.speaker__gallery {
    width: 830px;
    height: 147px;

    display: flex;
    flex-direction: row;

}

.speaker__gallery-list {
  width: 830px;
  height: 133px;

  display: flex;
  flex-direction: row;
  gap: 10px; 
  
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

.speaker__gallery-item {
  min-width: 150px;
  position: relative; 
}

.speaker__gallery-content {
  position: relative; 
  margin: 0;
  border-radius: 20px;
  overflow: hidden; 
}

.speaker__gallery-content img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.speaker__gallery-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  
  width: 40px;
  height: 40px;
  cursor: pointer;

  fill: #349c14; 
  transition: all 0.3s ease;
}
.color-svg:hover {
    fill: #9c2d14; 
}
.color-svg:active {
   fill: #cf3411; 
}



.speaker__footer {
    width: 830px;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: 20px;
}

.speaker__price {
    width: 205px;
    max-width: 230px;
    height: 18px;

    display: flex;
    align-items: center;
}

.speaker__price-text {

    font-family: 'Roboto';
    font-size: 22px;
    font-weight: 700;
    color: #C1492E;
}

.speaker__price-svg {
    margin-right: 10px;
}

.speaker__button {
    width: 335px;
    height: 50px;

    display: flex;
    flex-direction: row;
}

.speaker__check {
    width: 160px;
    height: 50px;

    border: 1px solid #C1492E;
    border-radius: 15px;

    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    color: #C1492E;

    transition-duration: 0.2s;
}
.speaker__check:hover {
    background-color: #ee502c;
    color: #FFFFFF;
}
.speaker__check:active {
    background-color: #722311;
    color: #aaaaaa;
}

.speaker__buy {
    width: 160px;
    height: 50px;

    background-color: #C1492E;

    border-radius: 15px;
    border: 0px;
    margin-left: 15px;

    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;

    transition-duration: 0.2s;
}
.speaker__buy:hover {
    background-color: #ee502c;
}

.speaker__buy:active {
    background-color: #722311;
    color: #aaaaaa;
}

